parser: babel-eslint
parserOptions:
  ecmaVersion: 2019
env:
  browser: true
  jest: true
extends:
  - plugin:flowtype/recommended
  - plugin:react/recommended
  - plugin:unicorn/recommended
  - plugin:jsx-a11y/recommended
  - plugin:compat/recommended
  - prettier # turn off some eslint rules in favor of prettier
  - prettier/babel
  - prettier/flowtype
  - prettier/react
  - prettier/unicorn
plugins:
  - flowtype
  - react
  - unicorn
  - import
  - react-hooks
  - jsx-a11y
  - compat
  - prettier
rules:
  compat/compat: 'error'
  prettier/prettier: 'error'
  react-hooks/rules-of-hooks: 'error'
  unicorn/prevent-abbreviations:
    - 'error'
    - whitelist:
        props: true
        ref: true
